
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'JetBrains Mono';
    src: url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&display=swap');
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
  }

  :root {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 13%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 59% 48%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 32% 18%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 70%;

    --accent: 217 32% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 224 71% 45%;
    
    --code: 225 25% 20%;
    --code-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  ::selection {
    @apply bg-primary/30 text-foreground;
  }
  
  .code-font {
    @apply font-mono tracking-tight;
  }
  
  .card-style {
    @apply bg-card rounded-lg border border-border p-4 shadow-sm;
  }
  
  .input-style {
    @apply bg-secondary p-3 rounded-md border border-border focus:outline-none focus:ring-1 focus:ring-ring w-full;
  }
}
